-if not reg
  %h2 Informations personnelles
  .field
    =f.label :email
    <br/>
    =f.email_field :email
  .field
    =f.label :prenom
    <br/>
    =f.text_field :prenom
  .field
    =f.label :nom
    <br/>
    =f.text_field :nom
  .field
    =f.label :genre_id
    <br/>
    =f.select :genre_id, Genre.all.map{|g| [g.nom_complet,g.id]}    
.field
  =f.label :naissance
  <br/>
  =f.date_field :naissance
.field
  =f.label :phone
  <br/>
  =f.text_field :phone
.field
  =f.label :adresse
  <br/>
  =f.text_field :adresse
.field
  =f.label :complement
  <br/>
  =f.text_area :complement
.field
  =f.label :codepostal
  <br/>
  =f.text_field :codepostal
.field
  =f.label :ville
  <br/>
  =f.text_field :ville
-if @personne.is_gadz?
  %h2 Informations Gadaziques
  .field
    =f.label :bucque
    <br/>
    =f.text_field :bucque
  .field
    =f.label :fams
    <br/>
    =f.text_field :fams
  .field
    =f.label :promo
    <br/>
    =f.text_field :promo
  -if can? :see_admin, User
    .field
      =f.label :idGadzOrg
      <br/>
      =f.text_field :idGadzOrg
%h2 Mensurations
.field
  =f.label :taille
  <br/>
  =f.text_field :taille
.field
  =f.label :pointure
  <br/>
  =f.text_field :pointure
.field
  =f.label :taillevetement_id
  <br/>
  =f.select :taillevetement_id, Taillevetement.all.map{|t| [t.name,t.id]}
%h2 Personne a prévenir en cas d'urgence
.field
  =f.label :pprenom
  <br/>
  =f.text_field :pprenom
.field
  =f.label :pnom
  <br/>
  =f.text_field :pnom
.field
  =f.label :plienparente
  <br/>
  =f.text_field :plienparente
.field
  =f.label :pphone
  <br/>
  =f.text_field :pphone
.field
  =f.label :padresse
  <br/>
  =f.text_field :padresse
.field
  =f.label :pcomplement
  <br/>
  =f.text_area :pcomplement
.field
  =f.label :pcodepostal
  <br/>
  =f.text_field :pcodepostal
.field
  =f.label :pville
  <br/>
  =f.text_field :pville


%h2 Informations complémentaires
.field
  =f.label :commentaires
  <br/>
  =f.text_area :commentaires
-if can? :see_admin, User
  .field
    =f.label :commentaires_admin
    <br/>
    =f.text_area :commentaires_admin
