-if not reg
  %h2 Informations personnelles
  =reg
  .field.pure-control-group
    =f.label :email 
    =f.email_field :email, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :prenom
    
    =f.text_field :prenom, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :nom
    
    =f.text_field :nom, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :genre_id
    
    =f.select :genre_id, Genre.all.map{|g| [g.nom_complet,g.id]}    , :class => "pure-input-1-3"
- else
  =f.hidden_field :genre_id, value: 1 
.field.pure-control-group
  =f.label :naissance
  
  =f.date_field :naissance, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :phone
  
  =f.text_field :phone, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :adresse
  
  =f.text_field :adresse, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :complement
  
  =f.text_area :complement, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :codepostal
  
  =f.text_field :codepostal, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :ville, "Ville"
  
  =f.text_field :ville, :class => "pure-input-1-3"
-if @personne.is_gadz?
  %h2 Informations Gadzariques
  .field.pure-control-group
    =f.label :bucque, "Bucque, (vide si t'es conscrit)"
    
    =f.text_field :bucque, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :fams, "Fam's ou hyp fam's"
    
    =f.text_field :fams, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :promo, "Promo ou hyp promo ex:(me211)"
    
    =f.text_field :promo, :class => "pure-input-1-3"
  -if can? :see_admin, User
    .field.pure-control-group
      =f.label :idGadzOrg
      
      =f.text_field :idGadzOrg, :class => "pure-input-1-3"
%h2 Mensurations
.field.pure-control-group
  =f.label :taille
  
  =f.text_field :taille, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :pointure
  
  =f.text_field :pointure, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :taillevetement_id
  
  =f.select :taillevetement_id, Taillevetement.all.map{|t| [t.name,t.id]}, :class => "pure-input-1-3"
%h2 Personne à prévenir en cas d'urgence
.field.pure-control-group
  =f.label :pprenom
  
  =f.text_field :pprenom, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :pnom
  
  =f.text_field :pnom, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :plienparente
  
  =f.text_field :plienparente, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :pphone
  
  =f.text_field :pphone, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :padresse
  
  =f.text_field :padresse, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :pcomplement
  
  =f.text_area :pcomplement, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :pcodepostal
  
  =f.text_field :pcodepostal, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :pville
  
  =f.text_field :pville, :class => "pure-input-1-3"


%h2 Informations complémentaires
.field.pure-control-group
  =f.label :commentaires
  
  =f.text_area :commentaires, :class => "pure-input-1-3"
-if can? :see_admin, User
  .field.pure-control-group
    =f.label :commentaires_admin
    
    =f.text_area :commentaires_admin, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :documentassurance
    =f.check_box :documentassurance
  .field.pure-control-group
    =f.label :moderated
    =f.check_box :moderated
=f.hidden_field :user_id
