%div.top-info.pa1
  %h1 Assurance RC

%div.pa1.fiche.brdr-b
  %h2 Validation par lot (.csv)
  %span Validation par numéro de commande. Le .csv doit comporter 1 collone dont la première case doit être "commande_id". Toutes personnes ayant une commandes dont le numéro figure dans le fichier auront leur assurance validée.
  =form_tag validate_assurance_batch_personnes_path, multipart: true do
    .field
      =file_field_tag :file, :accept => '.csv'
    .action
      =submit_tag "Importer les assurances", :id=>'import', :confirm => "Es-tu sur de vouloir faire ca ? \n En cliquant sur 'Oui', tu vas valider des assurances!", :class => "pure-button pure-button-success pure-button-xsmall "

%div.pa1.fiche.brdr-b
  %h2 Validation unitaire
  %span La recherche se fait par le nom de famille
  %div
    =form_tag validate_assurance_personnes_path :method => :post do
      =autocomplete_field_tag 'nom', '', autocomplete_personne_nom_personnes_path, :id_element=>"#id", :size => 75
      =hidden_field_tag "id"
      = submit_tag 'Assurance reçue', :class => "pure-button pure-button-success pure-button-xsmall "

      
%div.pa1.fiche.brdr-b
  %h2 Dernières assurances validées

  %p Attention! cette liste affiche les 5 dernière assurances validées par date de validation.
  %p 
  %table.striped.alternate
    %thead
      %tr
        %th.w50p=sortable "id"
        %th=sortable "nom", "Nom"
        %th=sortable "prenom"
        %th=sortable "documentassurance", "Justificatif assurance (RC)"
        %th 
    %tbody
      - @personnes.each do |p|
        %tr
          %td=link_to p.id, personne_path(p.id)
          %td=link_to p.nom, personne_path(p.id)
          %td=p.prenom
          %td=p.assurance_uptated_at
          %td= link_to 'Edit', personne_infos_personne_path(p.id), :class => "pure-button pure-button-xsmall" 
  
