.shadow-1
	%div.top-info.pa1
		%h1 Choix de la chambre
	%div.pa1.fiche.brdr-b
		%p Choisis où tu préfère séjourner:
		=render :partial => "shared/lits", locals: {lits: @lits}
		-#=sync partial: "lits", resource: @lits
