%div.top-info.pa1
  %h1 Personnes
%div.pa1.fiche.brdr-b
  %table.striped.alternate
    %thead
      %tr
        %th.w50p=sortable "id"
        %th=sortable "nom", "Nom"
        %th=sortable "prenom"
        %th=sortable "documentassurance", "Justificatif assurance (RC)"
    %tbody
      - @personnes.each do |p|
        %tr
          %td=link_to p.id, personne_path(p.id)
          %td=link_to p.nom, personne_path(p.id)
          %td=p.prenom
          %td=conditional_format(p.documentassurance)

  = will_paginate @users
  = link_to "En attentes de validation (#{@to_moderate_nbr})", to_moderate_personnes_path, :class => "pure-button pure-button-primary"