%div.top-info.pa1
  %h1=@personne.nom_complet

  %p= link_to 'Editer', personne_infos_personne_path(@personne), :class => "pure-button pure-button-primary right"
  %p
    =@personne.bucque
    =@personne.fams
    =@personne.promo
  %p
    =@personne.referant?

%div.pa1.fiche.brdr-b
  %p
    Né le:
    =@personne.naissance.to_date
  %p 
    Id gadz.org:
    =@personne.idGadzOrg
  %p
    Tél: 
    =@personne.phone
  %p
    email: 
    =@personne.email

  %p
    Adresse:
    =@personne.adresse
    =@personne.codepostal
    =@personne.ville

%div.pa1.fiche.brdr-b
  
  %p 
    Taille (m):
    =@personne.taille_metre
  %p
    Taille vêtement:
    =@taillevetement
  %p 
    Pointure:
    =@personne.pointure

  %p
    Assurance personelle:
    =conditional_format(@personne.assurance?)
  
  %p
    Attestation d'assurance: 
    =@personne.document_assurance

%div.pa1.fiche.brdr-b
  %h2
    Personne à contacter en cas de problème

  %p=@personne.p_nom_complet
  %p
    Lien de parenté: 
    =@personne.plienparente

  %p
    Tél:
    =@personne.pphone
  %p
    Adresse:
    =@personne.padresse
    =@personne.pcomplement
    =@personne.pcodepostal
    =@personne.pville

%div.pa1.fiche
  %h2 Commandes


  
  
  %table.striped.alternate
    %thead
      %tr
        %th Commande ID
        %th Assurance
        %th Statut
      %tbody
        -@commandes.each do |commande|
          %tr
            %td=link_to commande.ean, personne_commande_path(@personne.id,commande.id)
            %td=conditional_format(commande.assurance)
            %td=conditional_format(commande.complete?)
