%div.top-info.pa1
  %h1
    =@personne.nom_complet
    = link_to ' Editer', personne_infos_personne_path(@personne), :class => "pa1 icon-button md-create  icon-button-h-light icon-dark right"
    -if @personne.moderated || current_user.admin?
      = link_to ' Supprimer  ', @personne, :method => :delete, :data => { :confirm => 'Êtes-vous certain de supprimer cette personne? La commande associée sera perdue.' }, :class => "pa1 icon-button icon-button-h-red icon-dark md-clear right"

  %p
    -if @personne.disabled?
      .red.tag PERSONNE SUPPRIMÉE
  %p
    =@personne.bucque
    =@personne.fams
    =@personne.promo
  %p
    =@personne.referant?

%div.pa1.fiche.brdr-b
  %p
    Né le:
    =@personne.naissance.to_s.gsub("00:00:00 UTC","")
  %p 
    Id gadz.org:
    =@personne.idGadzOrg
  %p
    Tél: 
    =@personne.phone
  %p
    email: 
    =@personne.email

  %p
    Adresse:
    =@personne.adresse
    =@personne.codepostal
    =@personne.ville

%div.pa1.fiche.brdr-b
  
  %p 
    Taille (m):
    =@personne.taille_metre
  %p
    Taille vêtement:
    =@taillevetement
  %p 
    Pointure:
    =@personne.pointure
  
  %p
    Attestation d'assurance (RC): 
    =@personne.document_assurance

%div.pa1.fiche.brdr-b
  %h2
    Personne à contacter en cas de problème

  %p=@personne.p_nom_complet
  %p
    Lien de parenté: 
    =@personne.plienparente

  %p
    Tél:
    =@personne.pphone
  %p
    Adresse:
    =@personne.padresse
    =@personne.pcomplement
    =@personne.pcodepostal
    =@personne.pville

%div.pa1.fiche
  %h2 Commandes


  
  
  %table.striped.alternate#unfixedtable
    %thead
      %tr
        %th Commande ID
        / %th Assurance
        %th Statut
      %tbody
        -@commandes.each do |commande|
          %tr
            %td=link_to commande.idlong, personne_commande_path(@personne.id,commande.id)
            / %td=conditional_format(commande.assurance)
            %td=conditional_format(commande.complete?)
