%div.top-info.pa1
  %h1 Personnes
%div.pa1.fiche.brdr-b
  %table.striped.alternate
    %thead
      %tr
        %th Nom
        %th Prénom
        %th Justificatif assurance (RC)
    %tbody
      - @personnes.each do |p|
        %tr
          %td=link_to p.nom, personne_path(p.id)
          %td=p.prenom
          %td=conditional_format(p.documentassurance)

  = will_paginate @personnes
  = link_to 'Retour', personnes_path
