%ul.scollapsible{"data-collapsible" => "accordion"}
  %li
    .collapsible-header
      %i.material-icons> filter_drama
      First
    .collapsible-body
      %span Lorem ipsum dolor sit amet.
  %li
    .collapsible-header
      %i.material-icons> place
      Second
    .collapsible-body
      %span Lorem ipsum dolor sit amet.
  %li
    .collapsible-header
      %i.material-icons> whatshot
      Third
    .collapsible-body
      %span Lorem ipsum dolor sit amet.
