<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class='center w50'>
    <%= link_to image_tag("logo_gadzorg.png"), omniauth_authorize_path(resource_name, provider) %>
    </div>  
  <% end -%>
<% end -%>
