%table.striped.alternate
  %thead
    %tr
      %th Nom
      %th Prénom
      %th assurance
  %tbody
    - @personne.each do |p|
      %tr
        %td=p.nom
        %td=p.prenom
        %td
          - if p.assurance? 
            .green.tag
              Oui
          - else
            .red.tag
              Non