%table.striped.alternate
  %thead
    %tr
      %th Nom
      %th Prénom
      %th assurance
  %tbody
    - @personne.each do |p|
      %tr
        %td=link_to p.nom, personneshow_path(p.id)
        %td=p.prenom
        %td=conditional_format(p.assurance)