%div.top-info.pa1
  %h1=@personne.nom_complet
  %p
    =@personne.bucque
    =@personne.fams
    =@personne.promo

%div.pa1.fiche.brdr-b
  %p 
    Id gadz.org:
    =@personne.idGadzOrg
  %p
    Tél: 
    =@personne.phone
  %p
    email: 
    =@personne.email

  %p
    Adresse:
    =@personne.adresse
    =@personne.codepostal
    =@personne.ville

%div.pa1.fiche
  
  %p 
    taille (m):
    =@personne.taille_metre
  %p 
    Pointure:
    =@personne.pointure

    %p
    assurance:
    =conditional_format(@personne.assurance?)