%h1 Admin

Nombre de personnes inscrites:
%span=@nbrPersonnes
Nombre de personnes non assurées:
%span=@nbrPersonnesNonAssuree

%h2 Produits
%h2 Commandes
%p
	nombre de commande: 
	=@nbrCommande
%p
	nombre de commande validées: 
	=@nbrCommandeValidee