%div.top-info.pa1
	%h1 Dashboard admin

%div.fiche.pa1.brdr-b
	=link_to "Voir tous les graphiques", admin_graph_path, :class => "pure-button pure-button-primary"
	= link_to "Comptes", users_path, :class => "pure-button pure-button-primary"
	= link_to "Paiements", paiements_path, :class => "pure-button pure-button-primary"
%div.fiche.pa1.brdr-b
	Nombre de personnes inscrites:
	%span=@nbrPersonnes
	Nombre de personnes non assurées:
	%span=@nbrPersonnesNonAssuree



%div.top-info.pa1
	%h2 Commandes
%div.fiche.pa1.brdr-b
	%div.row
		%div.col.w50
			%p
				nombre de commande: 
				=@nbrCommande
			%p
				nombre de commandes validées: 
				=@nbrCommandeValidee
		%div.col.w50
			%span= pie_chart [["Commandes validées",@nbrCommandeValidee],["Commandes non validées",@nbrCommandesNonValidee ]]

%div.top-info.pa1
	%h2 Paiements
%div.fiche.pa1.brdr-b
	%span= pie_chart chart_paiement_path

%p=link_to "Configuration avancée", admin_configurable_path
	