/ # Pour l'ajax avec ne nombre de produit des commandes

/ # =@commande.commande_products.find_by(commande_id: @commande.id, product_id: p.id).nombre unless @commande.commande_products.find_by(commande_id: @commande.id, product_id: p.id).nil?