%div.top-info.pa1
  %h1
    Validation des cautions

%div.pa1.fiche.brdr-b
  %h2 Validation par lot (.csv)
  %span Validation par numéro de commande. Le .csv doit comporter 1 collone dont la première case doit être "commande_id". Toutes les commandes dont le numéro figure dans le fichier auront leur caution validée.
  =form_tag validate_caution_batch_commandes_path, multipart: true do
    .field
      =file_field_tag :file, :accept => '.csv'
    .action
      =submit_tag "Importer les cautions", :id=>'import', :confirm => "Es-tu sur de vouloir faire ca ? \n En cliquant sur 'Oui', tu vas valider des cautions!", :class => "pure-button pure-button-success pure-button-xsmall "

%div.pa1.fiche.brdr-b
  %h2 Validation unitaire
  %span Attention, en recherchant une personne dans cette liste, tu vas valider toutes les cautions de ses commandes si elle en a plusieurs.
  %span La recherche se fait par le nom de famille
  %div
    =form_tag validate_caution_commandes_path :method => :post do
      =autocomplete_field_tag 'nom', '', autocomplete_personne_nom_personnes_path, :id_element=>"#id", :size => 75
      =hidden_field_tag "id"
      = submit_tag 'caution reçue', :class => "pure-button pure-button-success pure-button-xsmall "
%div.pa1.fiche.brdr-b
  %h2 Dernière cautions validées
  %table.striped.alternate#unfixedtable
    %thead
      %tr
        %th= sortable "idlong", "Commande ID"
        %th= sortable "caution_updated_at", "Caution enegistrée le"
        %th Nom
        %th 
        
      %tbody
        - @lastcautioncommandes.each do |c|
          %tr
            / %td=c.ean
            %td=link_to c.idlong, commande_path(c.id)
            %td=c.caution_updated_at.to_s.gsub("UTC","")
            %td=link_to c.personne.nom_complet, personne_path(c.personne.id) if !c.personne.nil?
            %td= link_to 'Edit', edit_commande_path(c.id), :class => "pure-button pure-button-xsmall" 
            / # Nom de la personne
           

