%div.top-info.pa1
  %h1
    Commande #
    =@commande.idlong

%div.fiche.pa1.brdr-b

  %table.striped.alternate
    %thead
      %tr
        %th Commande ID
        %th Compte référant
        %th Nom
        %th Commande valide
        %th Etat
    %tbody
      %tr
        %td=@commande.idlong
        %td=link_to @personne.user.referant.nom_complet, user_path(@personne.user.id)
        %td=link_to @personne.nom_complet, personne_path(@personne.id)
        %td=conditional_format(@commande.complete?)
        %td=@commande.status
  -if can? :read_admin, User
    %p
      Bypass paiement:
      =@commande.bypasspaiement
    %p
      Bypass assurance:
      =@commande.bypassassurance

  %table.striped.alternate
    %thead
      %tr
        %th Assurance commandée
        %th Personne assurée
        %th Justificatif assurance
        %th Récapitulatif assurance
    %tbody
      %tr
        %td=conditional_format(@commande.assurance)
        %td=conditional_format(@personne.assurance)
        %td=conditional_format(@personne.documentassurance)
        %td=conditional_format(@assuranceok)

  %table.striped.alternate
    %thead
      %tr
        %th Cheque de caution donné
        %th Total commande (€)
        %th Commande payée totalement
        %th Reste à payer (€)
    %tbody
      %tr
        %td=conditional_format(@commande.caution)
        %td=@total_euro
        %td=conditional_format(@paiementok)
        %td=@paiement_du_euro

%div.fiche.pa1.brdr-b

  %h2
    Paiements effectués pour cette commande

  %table.striped.alternate
    %thead
      %tr
        %th ID
        %th date
        %th Montant
        %th Paiement reçu
        
    %tbody
      - @paiements.each do |p|
        %tr
          %td=link_to p.idlong, paiement_path(p.id)
          %td=p.date
          %td=p.amount_euro
          %td=conditional_format(p.verif)
      %tr 
        %td
          %hr
        %td
          %strong Total
        %td=@totalpaiement_euro

    %p=link_to "Payer ma commande", new_commande_paiement_path(@commande.id), :class => "pure-button pure-button-primary"

  %h2
    Produits
  %p=link_to "Ajouter des produit à ma commande", catalogue_commande_path(@commande.id), :class => "pure-button pure-button-success"

  %table.striped.alternate
    %thead
      %tr
        %th Produit
        %th Quantitée
        %th Prix (€)
    %tbody
      - @commande.commande_products.each do |cprd|
        %tr
          %td=link_to cprd.product.name, product_path(cprd.product.id)
          %td=cprd.nombre
          %td=cprd.product.price_euro
      %tr 
        %td
          %hr
        %td
          %strong Total
        %td=@total_euro