%h2 Informations personnelles
.field.pure-control-group
  =f.label :email
  
  -if reg || can?(:see_admin, User)
    =f.email_field :email
  -else
    =f.email_field :email, readonly: true
    (Il ne peut etre modifier que sur demande aux admins et permet de vous identifier)
/ -unless can?(:see_admin, User)  || reg
/   .field.pure-control-group
/     =f.label :current_password, 'Mot de passe actuel :'
/     
/     =f.password_field :current_password
-if current_user.has_role?(:gadz) and not current_user.admin?
  .field.pure-control-group
    =f.label :password, 'Mot de passe'
    
    =f.password_field :password, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :password_confirmation, 'Confirmation'
    
    =f.password_field :password_confirmation, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :first_name, 'Prenom'
  
  =f.text_field :first_name, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :last_name, 'Nom'
  
  =f.text_field :last_name, :class => "pure-input-1-3"
.field.pure-control-group
  =f.label :gender, 'Sexe'
  
  =f.select :gender, Genre.all.map{|g| [g.nom_complet,g.nom_cas]}, :class => "pure-input-1-3"
-if can? :see_admin, User
  .field.pure-control-group
    =f.label :inscription_terminee, 'Inscription terminee'
    
    =f.check_box :inscription_terminee
