#myinfo1.container.scrollspy
  %br
  %br
  %br
  %br
  .row
    .col.s12.light-blue.white-text.center
      %h4 Mes informations principales (1/2)

.section.sfullscreen
  .container
    #signin_form_student.row
      %p Les informations ne seront sauvegardées qu'à la fin de l'inscription
      %ul
        %li
          .row
            .input-field.col.s10
              - if reg || can?(:see_admin, User)
                =f.email_field :email
              - else
                =f.email_field :email, readonly: true
              =f.label :email

        - unless @user.has_role?(:gadz) and not current_user.admin?
          %li
            .row
              .input-field.col.s10.m5
                =f.password_field :password
                =f.label :password
              .input-field.col.s10.m5
                =f.password_field :password_confirmation
                =f.label :password_confirmation
        %li
          .row
            .input-field.col.s10.m5
              =f.label :prenom
              =f.text_field :prenom
            .input-field.col.s10.m5
              =f.label :nom
              =f.text_field :nom
        %li
          .row
            .input-field.col.s10
              =f.select :genre_id, Genre.all.map{|g| [g.nom_complet,g.id]}
              =f.label :genre_id

        - if @personne.is_gadz?
          %li
            .row
              .input-field.col.s10.m5
                =f.text_field :bucque
                =f.label :bucque, "Bucque (Vide si t'es .onscrit)"
              .input-field.col.s10.m5
                =f.text_field :fams
                =f.label :fams
          %li
            .row
              .input-field.col.s10.m4.offset-m4
                =f.text_field :promo
                =f.label :promo, "Promo ou hyp promo ex:(me215)"


- if can? :see_admin, User
  .section.sfullscreen
    .container
      .row
        %ul
          %li
            .row
              .input-field.col.s10
                =f.check_box :inscription_terminee
                =f.label :inscription_terminee
          %li
            .row
              .input-field.col.s10
                =f.check_box :moderated
                =f.label :moderated, 'Inscription Valide'
          %li
            .row
              .input-field.col.s10
                =f.check_box :moderated
                =f.label :moderated, 'Inscription Valide'
          %li
            .row
              .input-field.col.s10
                =label "roles[#{r.name}]",r.name
                =check_box_tag "roles[#{r.name}]", "1", !!@roles[r.name]


        %br/
        %a.btn.waves-effect.waves-light.right{:href => "#myinfo2"}
          Suivant
          %i.material-icons.right send
