%div.top-info.pa1
	%p
		Référant du compte:
		=@user.referant_show

%div.fiche.pa1.brdr-b
	= render :partial => "personne_tree"
	%p
		Nombre de personnes liées au compte:
		=@user.personnes.count

%div.pa1.fiche
	= link_to 'Edit', edit_user_path(@user), :class => "pure-button pure-button-primary"
	= link_to 'Back', users_path, :class => "pure-button"
