%br
%br
%br
%div.fiche.pa1.brdr-b
  .row
    .col.m11
      = render 'form_pub'

    .col.hide-on-small-only.m1
      .toc-wrapper.pinned
        %ul.section.table-of-contents
          - if not @reg_pers
            %li
              %a{:href => "#myinfouser"} Mes Infos (1/3)
            %li
              %a{:href => "#myinfo1"} Mes Infos (2/3)
            %li
              %a{:href => "#myinfo2"} Mes Infos (3/3)
          - else
            %li
              %a{:href => "#myinfouser"} Mes Infos (1/2)
            %li
              %a{:href => "#myinfo2"} Mes Infos (2/2)
          
          %li
            %a{:href => "#contactperson"} Personne à Prévenir
          %li
            %a{:href => "#mensurations"} Tes Mensurations
          %li
            %a{:href => "#ma_commande"} Ma Commande
          %li
            %a{:href => "#mon_pack"} Mon Pack
          %li
            %a{:href => "#le_transport"} Le Transport
          %li
            %a{:href => "#les_options"} Les Options
          %li
            %a{:href => "#les_skis"} Les Skis
          %li
            %a{:href => "#les_anims"} Les Anim's
          %li
            %a{:href => "#la_super_option"} La super option
          %li
            %a{:href => "#assurances"} Les assurances
          %li
            %a{:href => "#la_residence"} La résidence
          %li
            %a{:href => "#confirmation"} Confirmation



