/# Mise en forme conditionnelle pour les champs booleens
/# Usage: =conditional_format(variable_booleene)
/ - if c
/   .green.tag
/     Oui
/ - else
/   .red.tag
/     Non
- if c
  .green.tag.md-done
- else
  .red.tag.md-clear