%h1 Listing lits

%table
  %thead
    %tr
      %th
      %th Occupant
      %th
      %th

  %tbody
    - @lits.each do |lit|
      %tr
        %td=lit.name
        %th=lit.personne.nom_complet if lit.personne.present?
        %td= link_to 'Show', lit
        %td= link_to 'Edit', edit_lit_path(lit)
        -#%td= link_to 'Destroy', lit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lit', new_lit_path
