.section.sfullscreen
  .container.centrer{:style => "margin-top: 56px;"}
    %h3.header.center{:style => "color: #f99c43;"} SKZ c'est :
    .row
      .col.s12.m4
        .card-panel.light-blue.white-text
          %h4 1400 Gadz'Arts de tous les TBKs
      .col.s12.m4
        .card-panel.light-blue.white-text
          %h4 1 semaine de folie de jour comme de nuit !
      .col.s12.m4
        .card-panel.light-blue.white-text
          %h4 Des souvenirs inoubliables !
    .row.center
      %h4.center.light-blue-text Et cette année nous avons choisi...
      %a.btn-large.waves-effect.waves-light.center{:href => "#lastation"} Découvrir !
#lastation.divider
.section.sfullscreen.large-row
  .row{:style => "text-align: center;"}
    %h2.center{:style => "color: #f99c43;"} Saint Sorlin !
    %a{:href => "http://www.saintsorlindarves.com/fr/index-hiver.aspx"}
      %img.center{:src => "/assets/logo-saintsorlin.png"}/
    %br/
    %a{:href => "http://www.saintsorlindarves.com/fr/index-hiver.aspx"} www.saintsorlindarves.com
    %br/
    %br/
    %a.btn-large.waves-effect.waves-light.center{:href => "#lastation_description"} C'est comment ?
#lastation_description.divider{:style => "margin-bottom:0px;"}
.section.sfullscreen.light-blue
  .row{:style => "text-align: center; margin-top:112px;"}
    .col.s12.m8.offset-m2.l6.offset-l3
      .card-panel.white.lighten-5.z-depth-1
        .row.valign-wrapper
          %span.black-text{:style => "text-align:left;"}
            %h6 Saint-Sorlin en bref
            L’hiver, profitez du ski au cœur du grand domaine des Sybelles, d’une ambiance village, d’un ensoleillement et d’un enneigement optimal, ainsi que d’un vaste choix d’activités de loisirs ou de détente.
            %br/
            %br/
            Les Sybelles sont situées entre les vallées de la Maurienne au Nord et de la Romanche au sud,  bordé par les massifs des Aiguilles d’Arves à l’Est  et celui des Grandes Rousses et la chaine de Belledonne à l’ouest.
            %br/
            %br/
            Avec des sommets qui culminent à 3514 m (Aiguille Méridionale),une zone glaciaire importante à St Sorlin, et d’immenses alpages, vierges de toute installation, le pays est un terrain de jeu idéal pour la randonnée été comme hiver.
            Bien enneigés avec des pentes orientées est ou plein nord, beaucoup d’itinéraires gardent une neige froide , excellente pour de fabuleuses descentes. Les dénivelées positives s’échelonnent entre 400 et de 2000 mètres selon les secteurs.
            Autour du glacier de St Sorlin accessible en une heure depuis les remontées mécaniques et le refuge de l’étendard les sommets sont nombreux : Aiguille de laisse, Dôme et cimes  de la Cochette, du  Sauvage et de la Valette et l’Etendard, superbe belvédère de 3464m. 
      %br/
      %a.btn-large.btn-border.waves-effect.waves-light.center{:href => "#lastation_piste"} Et les Pistes ?
      %br/
#lastation_piste.divider
.section.sfullscreen
  .row{:style => "text-align: center;"}
    %a{:href => "/assets/planPistes.jpg"}
      %img{:src => "/assets/planPistes_min.png", :width => "80%"}/
    %br/
    %br/
    %a.btn-large.waves-effect.waves-light.center{:href => "http://live.skiplan.com/moduleweb/2.0/sybelles.php", :target => "_blank"} Voir le plan interactif
