.section.sfullscreen
  .centrer{:style => "margin-top: 56px;"}
    %h4.header.center{:style => "color: #03a9f4;"} Ces 25 dernières années, SKZ vous a fait passer des séjours inoubliables...
    .row.center
      %h5.header.col.s12.light{:style => "color: #f99c43;"} ...Et cette année encore, SKZ va vous envoyer du rêve
    .row.center
      %ul#historique
        %li
          %h6 1990 : Les Arcs 1800
        %li
          %h6 1991 : Les Arcs 1800
        %li
          %h6 1992 : Les Arcs 1800
        %li
          %h6 1993 : Val Thorens
        %li
          %h6 1994 : Val Thorens
        %li
          %h6 1995 : Arc 1800
        %li
          %h6 1996 : Val Thorens
        %li
          %h6 1997 : Tignes
        %li
          %h6 1998 : NC
        %li
          %h6 1999 : Les 2 Alpes
        %li
          %h6 2000 : Les Arcs 1800
        %li
          %h6 2001 : Avoriaz
        %li
          %h6 2002 : Les 2
        %li
          %h6 2003 : Les Arcs 1800
        %li
          %h6 2004 : Les Ménuires
        %li
          %h6 2005 : La Plagne Bellecôte
        %li
          %h6 2006 : Les 2 Alpes
        %li
          %h6 2007 : Valmorel
        %li
          %h6 2008 : Les Ménuires
        %li
          %h6 2009 : Tignes
        %li
          %h6 2010 : L'Alpe d'Huez
        %li
          %h6 2011 : Les 2 Alpes
        %li
          %h6 2012 : Val Thorens
        %li
          %h6 2013 : Val d’Isère
        %li
          %h6 2014 : Val Thorens
        %li
          %h6 2015 : Tignes
        %li
          %h6 2016 : Risoul
        %li
          %h6 2017 : Les Orres
        %li
          %b
            %h3{:style => "color: #f99c43;"} 2018 : Saint-Sorlin !
          %img.circle{:src => "/assets/logo-saintsorlin.png"}/
