#firstScreen.section.sfullscreen
  .centrer
    %h1.header.center.white-text SKZ
    .row.center
      %h3.header.col.s12.light.white-text Le plus grand évènement de ski étudiant !
    .row.center
      %a.btn-large.waves-effect.disabled{:href => "#"} S'inscrire (Bientôt)
      %br/
      %br/
      %br/
      %a.btn-large.btn-floating{:href => "#infos_generales"}
        %i.material-icons keyboard_arrow_down
#infos_generales.divider
.section.centrer
  %div
    / Icon Section
    .row
      .col.s12.m4
        .card
          .card-image
            %img{:src => "assets/backgrounds/duski.jpg"}/
            %span.card-title Du ski
          .content
            %p.light Des anim's pistes pour t'éclater ! Que tu sois débutant ou zident tu trouveras forcément ton bonheur !
            = link_to home_pistes_path do
              .card-action
                En savoir plus sur les Anim's Pistes
      .col.s12.m4
        .card
          .card-image
            %img{:src => "assets/backgrounds/soiree2.jpg"}/
            %span.card-title Une expérience 100% gadz !
          .content
            %p.light Une semaine tout compris à prix PG !
            = link_to home_pack_path do
              .card-action
                En savoir plus sur Le Pack
      .col.s12.m4
        .card
          .card-image
            %img{:src => "assets/backgrounds/soiree3.jpg"}/
            %span.card-title Des soirées
          .content
            %p.light Des soirées mémorables jusqu'au bout de la nuit !
            = link_to home_soirees_path do
              .card-action
                En savoir plus sur les Anim's Soirées
    .row.center
      %a.btn-large.btn-floating{:href => "#endScreenDivider"}
        %i.material-icons keyboard_arrow_down
#endScreenDivider.divider{:style => "margin-bottom: 56px;"}
#endScreen.section.sfullscreen{:style => "height: 989px; width: 1905px;"}
  .centrer
    .row
      .col.s12
        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/s98gCyRsKWc?rel=0", :style => "height: 692.3px; width: 1333.5px;"}
    .row.center
      %a.btn-large.btn-floating{:href => "#firstScreen"}
        %i.material-icons keyboard_arrow_up

.hiddendiv.common
.drag-target{"data-sidenav" => "nav-mobile", :style => "left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"}
