.section.sfullscreen
  .container.centrer{:style => "margin-top:70px;"}
    .row
      %ul
        %li
          %h3{:style => "color: #f99c43;"} Le Pack de base (295€ pour les PGs) contient :
        %li
          %h6 1. Le logement dans la résidence au pied des pistes. Taxes de séjour comprises.
        %li
          %h6 2. Le Pack Food pour 7 jours (matin, midi et soir) quelques soit ton régime alimentaire.
          %p Si tu ne manges pas de porc, nous avons aussi pensé à toi ! Tu pourras le préciser lors de ton inscription.
        %li
          %h6
            3. Le forfait domaine
            %i Les Sybelles
            pour skier pendant tout le séjour sur plus de 310 km de pistes !
          %p Il te sera remis une fois arrivée pour que tu puisse t'éclater toute la semaine !
        %li
          %h6 4. Les animations sur les pistes : compétitions, barbecue... (hors activités spéciales payantes)
          %p
            Plus d'infos ici :
            = link_to "Les Anim's pistes", home_pistes_path
        %li
          %h6 5. Les animations soirées (hors RCC).
          %p
            Plus d'infos ici :
            = link_to "Les Anim's soirées", home_soirees_path
        %li
          %h6 6. Les Goodies ! Surprise...
