.section.sfullscreen{:style => "background: url(images/backgrounds/soiree4.jpg); background-size: cover; background-attachment: fixed;"}
  .container{:style => "margin-top: 70px;"}
    .row
      .col.s12
        %ul.collapsible{"data-collapsible" => "accordion"}
          %li
            .collapsible-header Les Afters Skis
            .collapsible-body
              %span
                %h6 Le principe :
                %li
                  .collapsible-header Le Chap' tous les soirs !
                  .collapsible-body
                    %span
                      %h5 Principe de la course :
                      Départ de front, virages relevés, bosses… tous les coups sont permis… ou presque ! Seuls les premiers seront qualifiés à chaque manche… pour espérer participer à la FINALE tant convoitée ! Va y avoir du sport !
                      %br/
                      1 manche qualificative individuelle chronométrée pour former un tableau final juste,
                      %br/
                      Passage à plusieurs sur un même tracé,
                      %br/
                      Les premiers sont qualifiés pour la manche suivante.
                      %br/
                      Seuls les 3 premiers seront récompensés !
                      %br/
                      Le port d'une dorsale est fortement conseillé pour cette épreuve!
                      %br/
                      %h5 Catégories :
                      Ski Hommes, Ski Femmes, Snowboard Hommes, Snowboard Femmes
                %li
                  .collapsible-header
                    %i.material-icons> whatshot
                    Le RCC
                  .collapsible-body
                    %span
                      Tu n'as jamais tâté la poudreuse ? Tu es impatient de dévaler les pentes des Orres ? Les cours d'initiation sont là pour ça !
                      %h5 Au programme :
                      De la glisse, des chutes et de la glisse ! Tu pourras apprendre aussi bien le ski que le snowboard, si tu ne sais pas quel support choisir avant de prendre tes options de location n'hésite pas à contacter un des Zidents anim'sss pistes pour des conseils avisés.
                      Tu pourras ainsi rapidement tracer par tes propres moyens ou encore t'améliorer si tu n'en es pas à tes premiers essais.
                      Pour participer, viens aux initiations les dimanche, lundi et mardi après-midi pour devenir un pro du ski et/ou du snowboard !
                      N'oublie pas de t'inscrire pour les cours lors de ton inscription à SKZ, sinon tu ne pourras pas y participer
    / <img class="img_fullscreen img_top" src="back3.jpg" alt="" >
