.section.sfullscreen{:style => "background: url(/assets/backgrounds/soiree4.jpg); background-size: cover; background-attachment: fixed;"}
  .container{:style => "margin-top: 70px;"}
    .row
      .col.s12
        %ul.scollapsible{"data-collapsible" => "accordion"}
          %li
            .collapsible-header
              %i.material-icons> whatshot
              Le Chap' tous les soirs !
            .collapsible-body
              %span
                SKZ, ce n'est pas seulement kiffer la bonne peuf, c'est aussi s'éclater avec des soirées de folie !
                After-ski dès la sortie des pistes et soirée tous les jours !
                %br/
                %br/
                La team anim’sss soirée s’est décuvée N1000 pour vous prévoir du lourd alors pas moy’sss de ne pas en profiter.
                %br/
                La grotte du yéti et son chapit’sss situés au centre du village Gadz vous accueilleront à tout le tap’sss avec des prix imbattables.
                %br/
                %br/
                Il y a des soirées tous les jours avec des thèmes différents, mais un seul objectif commun :
                %h5
                  %b Se mettre bien tous les soirs !!!
          %li
            .collapsible-header Les Afters Skis
            .collapsible-body
              %span
                %h6 Pas l’temps de niaiser, une fois ta journée de ski passée t’as rendev’sss pour l’After-Ski!!!!
                Situé au centre du village Gadz, la Grotte du Yéti te proposera des bières à des prix défiant toute concurrence. Pendant ce temps Synopsis t’engaillera avec de la bonne musique pour bien te détendre (et te préparer à la soirée qui va suivre)°.
                %img.illustration{:src => "/assets/anims/after.jpg"}/
              %li
                .collapsible-header Le RCC
                .collapsible-body
                  %span
                    %h5 Une découverte de la station en mode PG!
                    Après une tournée des bars de la stations (pour les inscrits)° on enchaîne sur une soirée qui réservera bien des surprises et des défis...
    / <img class="img_fullscreen img_top" src="back3.jpg" alt="" >
