.navbar.hide-on-large-only
  %nav{:role => "navigation"}
    .nav-wrapper.container
      %a#logo-container.brand-logo.center.white-text{:href => "index.html"}
        %img{:height => "113px", :src => "/assets/skz_2018_logo.png"}/
      %ul#nav-mobile.side-nav
        %li
          %a.dropdown-button{:href => "index.html"} L'évènement
        %ul
          %li
            %a{:href => "evenement.html"} La Station
          %li
            %a{:href => "histoire.html"} Un peu d'histoire
          %li
            %a{:href => "pistes.html"} Les Anim's Pistes
          %li
            %a{:href => "soirees.html"} Les Soirées
        %li
          %a{:href => "lepack.html"} Le Pack
        %li
          %a{:href => "signin.html"} Inscription
        %li
          %a{:href => "lateam.html"} La Team
      %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
        %i.material-icons menu
.section.sfullscreen
  .container{:style => "margin-top: 56px;"}
    .row
      %h5 La Zidence
      .col.s12.m6.l4.center
        %img.circle{:src => "/assets/lateam/skriniers.jpg"}/
        %span
          %h6 La Zidente
          %h6 Skrinier’ss 174 li215
          %h6
            %i Dit Mollier Bathilde
      .col.s12.m6.l4.center
        %img.circle{:src => "/assets/lateam/barbie.jpg"}/
        %span
          %h6 Le Vizi
          %h6 Barbie 98 ch 215
          %h6
            %i Dit Clement Dubar
      .col.s12.m6.l4.center
        %img.circle{:src => "/assets/lateam/barbie2.jpg"}/
        %span
          %h6 La Tresor'sss
          %h6 Barbie 74 Bo215
          %h6
            %i Dit Céline Montillet
    .divider{:style => "margin-bottom: 56px;"}
    .row
      %h5 Les Anim's Pistes
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/diommyliel.jpg"}/
        %span
          %h6 Diommyliel 162-189 cl 215
          %h6
            %i Dit Thomas Coudurier
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/spoutnik.jpg"}/
        %span
          %h6 Spoutnik 97 ch 215
          %h6
            %i Dit Guillaume Piedigrossi
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/sorladsss.JPG"}/
        %span
          %h6 Sorlad’ss 79 me 215
          %h6
            %i Dit Theo Marret
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/marechal.jpg"}/
        %span
          %h6 Maréchal 93 an 215
          %h6
            %i Dit Rémi Ferrant
    .divider{:style => "margin-bottom: 56px;"}
    .row
      %h5 Les Anim's Soirées
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/vinkass.jpg"}/
        %span
          %h6 Vinka’ss 187 li215
          %h6
            %i Dit Alexandre Serodon
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/pietra.png"}/
        %span
          %h6 Pietra 131-231 li 215
          %h6
            %i Dit Serena Crocichia
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/lemaq.jpg"}/
        %span
          %h6 Le Maq 15 ch 215
          %h6
            %i Dit Dalil Hassani
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/ginfisss.jpg"}/
        %span
          %h6 Gin Fi’ss 58 li 215
          %h6
            %i Dit Gregoire Perier
    .divider{:style => "margin-bottom: 56px;"}
    .row
      %h5 La Logisitique
      .col.s12.m4.l2.offset-m1.center
        %img.circle{:src => "/assets/lateam/kroche.jpg"}/
        %span
          %h6 Kroché 19kin 215
          %h6
            %i Dit Etienne Husson
      .col.s12.m4.l2.center
        %img.circle{:src => "/assets/lateam/krouz.jpg"}/
        %span
          %h6 Krouz 17 Me215
          %h6
            %i Dit Louis Bouly
      .col.s12.m4.l2.center
        %img.circle{:src => "/assets/lateam/margoulin.jpg"}/
        %span
          %h6 Margoulin 51 cl 215
          %h6
            %i Dit Léo Rondot
      .col.s12.m4.l2.center
        %img.circle{:src => "/assets/lateam/artsdladal.jpg"}/
        %span
          %h6 Artsd'ladal 58 Clun'ss
          %h6
            %i Dit Thibaut Joannard
      .col.s12.m4.l2.center
        %img.circle{:src => "/assets/lateam/ciegeautoss.png"}/
        %span
          %h6 Ciege Auto’ss 143 li 215
          %h6
            %i Dit Charles Poteaux
    .divider{:style => "margin-bottom: 56px;"}
    .row
      %h5 La Com'
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/tarplacss.jpg"}/
        %span
          %h6 Tarplac’ss 177 Cl 215
          %h6
            %i Dit Léo Theron
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/papheur.jpg"}/
        %span
          %h6 Pap’heur 28 an215
          %h6
            %i Dit Théo Dulou
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/hero.jpg"}/
        %span
          %h6 Héro 102 kin 215
          %h6
            %i Dit Hugo Lefevre
      .col.s12.m6.l3.center
        %img.circle{:src => "/assets/lateam/zoto.jpg"}/
        %span
          %h6 Zoto 98 an 215
          %h6
            %i Dit Nicolas Caligiuri
