%h1
  Evénements

%table.striped.alternate
  %thead
    %tr
      %th Evénement
      %th Description
    %tbody
      - @events.each do |e|
        %tr
          %td=link_to e.Name, event_path(e.id)
          %td=e.Description