= form_for @activite do |f|
  - if @activite.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activite.errors.count, "error")} prohibited this activite from being saved:"
      %ul
        - @activite.errors.full_messages.each do |msg|
          %li= msg
  .field.pure-control-group
    =f.label :nom 
    =f.text_field :nom
  .field.pure-control-group
    =f.label :event_id, "Evenement"
    =f.select :event_id, @events.map{|t| [t.name,t.id]}, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :open, "Inscription libre"
    =f.check_box :open

  .actions
    =f.submit "Enregistrer"