%div.top-info.pa1
  %h1
    Activite: #{@activite.nom}
  %h2
    Passés:
    =@nbcheck.to_s
    Total:
    =@nbtotal

%div.pa1.fiche.brdr-b
  %p Inscription libre: #{@activite.open}
  %p Inscription par chambre: #{@parchambre}
    

/ %div.pa1.fiche.brdr-b
/   %h2 Rechercher une personne NE PAS UTILISER
/   %span La recherche se fait par le nom de famille
/   %div
/     =form_tag validate_personne_by_name_activite_path(@activite.id), :method => :post do
/       =autocomplete_field_tag 'nom', '', autocomplete_personne_nom_personnes_path, :id_element=>"#id_pers", :size => 75
/       =hidden_field_tag "id_pers"
/       = submit_tag 'Check!', :class => "pure-button pure-button-success pure-button-xsmall "

%div.pa1.fiche.brdr-b
  %h2 Recherche par code barre
  =form_tag validate_personne_by_ean_activites_path :method => :post do
    =text_field_tag 'ean', '' , :size => 13 ,:autofocus => true
    =hidden_field_tag "id", params[:id]
    = submit_tag 'Check!', :class => "pure-button pure-button-success pure-button-xsmall "



/ :autofocus => true
=link_to "Export Excel", export_activite_path(id: @activite.id,format: 'xls')
%div.pa1.fiche.brdr-b
  %table.striped.alternate
    %thead
      %tr
        %th Nom
        %th Inscrits

    %tbody
      - @personnes.each do |a|
        %tr
          %td=a.nom_complet
          %td