%div.top-info.pa1
  %h1 Création / import des chambres

%div.fiche.pa1.brdr-b
  =form_tag import_chambres_path, multipart: true do
    .field
      =file_field_tag :file, :accept => '.csv'
    .action
      =submit_tag "Importer les chambres", :id=>'import', :confirm => "Es-tu sur de vouloir faire ca ? \n En cliquant sur 'Oui', tu supprimera toutes les chambres enregistrées sur le site"