%div.top-info.pa1
  %h1 Recapitulatif Boulangerie

%div.fiche.pa1.brdr-b
  .filter-form
    =form_tag(recap_boulangerie_chambres_path, method: :get) do
      .field
        =label_tag :event_id, 'Evenement :'
        =select_tag :event_id, options_from_collection_for_select(Event.all,'id','name',@event_id), include_blank: true
      .field
        =label_tag :tbk_id, 'Tabagn\'s :'
        =select_tag :tbk_id, options_from_collection_for_select(Tbk.all,'id','nom_complet',@tbk_id), include_blank: true
      .field
        =label_tag :zone, 'Zone :'
        =select_tag :zone, options_for_select(%w(A C),@zone), include_blank: true
      .field
        =label_tag :nom, 'Nom :'
        =text_field_tag :nom
      .field
        =label_tag :nbr_place_vides, 'Nombre minimum de places vides :'
        =select_tag :nbr_place_vides, options_for_select((1..15).to_a,@nbr_place_vides), include_blank: true
      .action
        =submit_tag 'Filtrer'
    
-@chambres.each do |c|
  %div.fiche.pa1.brdr-b
    %h2= "Chambres n° #{c.identifiant} "
    -c.personnes.each do |p|
      %h3= p.nom_complet
      %table
        -p.commandes.find_by_event_id(c.event_id).products.where(categorie_id: 8).each do |pr|
          %tr
            %td=pr.name
            %td=p.commandes.find_by_event_id(c.event_id).commande_products.find_by_product_id(pr.id).nombre