#contactperson.divider.scrollspy
  %br
  %br
  %br
.container
  .row
    .col.s12.light-blue.white-text.center
      %h4 Personne à prévenir en cas d'urgence

.section.sfullscreen
  .container
    .row
      %p Les informations ne seront sauvegardées qu'à la fin de l'inscription
      %ul
        %li
          .row
            .input-field.col.s10.m5
              =f.text_field :pnom
              =f.label "Nom de la personne à contacter (*)"
            .input-field.col.s10.m5
              =f.text_field :pprenom
              =f.label "Prénom de la personne à contacter (*)"
        %li
          .row
            .input-field.col.s10.m5
              =f.text_field :plienparente
              =f.label "Lien de parenté avec la personne à contacter (*)"
            .input-field.col.s10.m5
              =f.text_field :pphone
              =f.label "Numéro de téléphone de la personne à contacter (*)"
        %li
          .row
            .input-field.col.s10.m5
              =f.text_field :padresse
              =f.label "Adresse de la personne à contacter (*)"
            .input-field.col.s10.m5
              =f.text_field :pcomplement
              =f.label :pcomplement
        %li
          .row
            .input-field.col.s10.m5
              =f.text_field :pcodepostal
              =f.label "Code postal de la personne à contacter (*)"
            .input-field.col.s10.m5
              =f.text_field :pville
              =f.label "Ville de la personne à contacter (*)"

      %p.orange-text Les champs (*) sont requis

    %br/
    %a.btn.waves-effect.waves-light.right{:href => "#mensurations"}
      Suivant
      %i.material-icons.right send
