#mensurations.divider.scrollspy
.container
  .row
    .col.s12.light-blue.white-text.center
      %h4 Tes mensurations

.section.sfullscreen
  .container
    .row
      %p Les informations ne seront sauvegardées qu'à la fin de l'inscription
      %h5 Je donne mes mensurations pour réserver mon matériel :
      %ul
        - if Configurable[:ski_commandes] == "non" or !@commandes.new_record?
          %li
            .row
              .input-field.col.s10.m5
                =f.text_field :taille
                =f.label :taille
              .input-field.col.s10.m5
                =f.text_field :pointure
                =f.label :pointure
          %li
            .input-field.col.s12.m4
              =f.select :taillevetement_id, Taillevetement.all.map{|t| [t.name,t.id]}, :prompt => 'Taille (S/M/L):'
          %li
            .input-field.col.s12.m4
              =f.select :tour_tete_id, TourTete.all.map{|t| [t.mesure,t.id]}, :prompt => 'Tour de tête:'
          %li
            .input-field.col.s12.m4
              =f.select :niveau_ski_id, NiveauSki.all.map{|t| [t.nom,t.id]}, :prompt => 'Niveau de ski:'

        - else
          %li
            .row
              .input-field.col.s10.m5
                =f.text_field :taille, readonly: true
                =f.label :taille
              .input-field.col.s10.m5
                =f.text_field :pointure, readonly: true
                =f.label :pointure
          %p.blue-text.text-darken-2 Vous ne pouvez plus éditer ces informations.
    %p.orange-text Tous les champs sont requis

    %br/
    %a.btn.waves-effect.waves-light.right{:href => "#ma_commande"}
      Suivant
      %i.material-icons.right send
