#myinfo1.divider.scrollspy
  %br
  %br
  %br
  %br
.container
  .row
    .col.s12.light-blue.white-text.center
      - if (@user.nil? && current_page?(personne_infos_personne_path(@personne))) or (current_page?(new_personne_user_path(@user)))
        %h4 Mes informations principales (1/2)
      - else
        %h4 Mes informations principales (2/3)

.section.sfullscreen
  .container
    .row
      %p Les informations ne seront sauvegardées qu'à la fin de l'inscription
      %ul
        -if not reg
          %li
            .row
              .input-field.col.s10
                - if !current_user.admin?
                  - if (@user && current_page?(new_personne_user_path(@user)))
                    =f.email_field :email
                  - else
                    =f.email_field :email, readonly: true
                - else
                  =f.email_field :email
                =f.label :email
          %li
            .row
              .input-field.col.s10.m5
                =f.text_field :nom
                =f.label :nom
              .input-field.col.s10.m5
                =f.text_field :prenom
                =f.label :prenom
          %li
            .row
              .input-field.col.s10
                =f.select :genre_id, Genre.all.map{|g| [g.nom_complet,g.id]} , :class => "pure-input-1-3"
                =f.label :genre_id

        - else
          =f.hidden_field :genre_id, value: 1

        - if @personne.is_gadz?
          %li
            .row
              .input-field.col.s10.m5
                =f.text_field :bucque
                =f.label :bucque, "Bucque (Vide si t'es .onscrit)"

              .input-field.col.s10.m5
                =f.text_field :fams
                =f.label :fams
          %li
            .row
              .input-field.col.s10.m4.offset-m4
                =f.text_field :promo
                =f.label :promo, "Promo ou hyp promo ex:(me215) (*)"

          %p.orange-text Le champ promo est requis
        
        %br/
        %a.btn.waves-effect.waves-light.right{:href => "#myinfo2"}
          Suivant
          %i.material-icons.right send
