#la_super_option.divider.scrollspy
.container
  .row
    .col.s12.light-blue.white-text.center
      %h4 La super option
.section.sfullscreen.masque
  .container
    .row
      %p Les informations ne seront sauvegardées qu'à la fin de l'inscription
      %h5{:style => "color: #f99c43;"} Et maintenant, fais toi encore plus plaisir !
      %img.illustration.img_ryft{:alt => "Masque Ryft", :src => "/assets/masque/ryft_11.jpg", :style => "width: 30%;"}/
      %h5 Un masque Ryft haut de gamme à prix PG !
      %a{:href => "https://ryftoptics.com/shop/ski-goggles/goggle/?currency=EUR", :style => "color: #f99c43;", :target => "_blank"}
        %h6{:style => "color: #f99c43;padding-left: 30px"} Le site de Ryft
      %br/
      %br/
      %h6 J'en veux un pour seulement 33€ (soit 65% de réduction !)
      .switch.switch_masque
        %label
          Non
          %input#masque{:type => "checkbox", :data => {price: "#{Categorie.find(10).products.first.price_euro}€"}}/
          = succeed "Oui" do
            %span.lever
      #choix_masque
        .row
          .input-field.col.s12.m4.offset-m2
            =fp.select :couleur_cadre, options_for_select(OptionSup.couleurs_cadre_form) do
              %option{:disabled => "disabled", :selected => "selected", :value => ""} Couleur du cadre :
              - ["Bleu","Rouge","Rose","Blanc","Jaune"].each do |cc|
                - if Product.where(option_sup_id: OptionSup.where(couleur_cadre: cc).first).first.reste_masque?
                  %option{:value => cc, :data => {name: cc}}= cc
            =fp.label "Couleur du cadre"

          .input-field.col.s12.m4
            =fp.select :couleur_verre, options_for_select(OptionSup.couleurs_verre_form) do
              %option{:disabled => "disabled", :selected => "selected", :value => ""} Couleur du verre :
              - ["Noir","Rouge"].each do |cv|
                %option{:value => cv, :data => {name: cv}}= cv
            =fp.label "Couleur du verre"
          
        %h5.center.blue-text.text-darken-2 Tu en veux N? Sache que tu peux en prendre jusqu'à #{Categorie.find(10).max_par_personne} !
        %h6.center en éditant ta commande une fois que tu es inscrit(e)
      %br/
      %a.btn.waves-effect.waves-light.right{:href => "#assurances"}
        Suivant
        %i.material-icons.right send
