/*fonts*/

@font-face {
    font-family: 'PTSansRegular';
    src: font-url('PTS55F.eot');
    src: font-url('PTS55F.eot?#iefix') format('embedded-opentype'),
         font-url('PTS55F.woff') format('woff'),
         font-url('PTS55F.ttf') format('truetype'),
         font-url('PTS55F.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

 @font-face {
    font-family: 'NoticiaTextRegular';
    src: font-url('noticia/NoticiaText-Regular-webfont.eot');
    src: font-url('noticia/NoticiaText-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('noticia/NoticiaText-Regular-webfont.woff') format('woff'),
         font-url('noticia/NoticiaText-Regular-webfont.ttf') format('truetype'),
         font-url('noticia/NoticiaText-Regular-webfont.svg#NoticiaTextRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapRegular';
    src: font-url('asap/Asap-Regular-webfont.eot');
    src: font-url('asap/Asap-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('asap/Asap-Regular-webfont.woff') format('woff'),
         font-url('asap/Asap-Regular-webfont.ttf') format('truetype'),
         font-url('asap/Asap-Regular-webfont.svg#AsapRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapItalic';
    src: font-url('asap/Asap-Italic-webfont.eot');
    src: font-url('asap/Asap-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('asap/Asap-Italic-webfont.woff') format('woff'),
         font-url('asap/Asap-Italic-webfont.ttf') format('truetype'),
         font-url('asap/Asap-Italic-webfont.svg#AsapItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapBold';
    src: font-url('asap/Asap-Bold-webfont.eot');
    src: font-url('asap/Asap-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('asap/Asap-Bold-webfont.woff') format('woff'),
         font-url('asap/Asap-Bold-webfont.ttf') format('truetype'),
         font-url('asap/Asap-Bold-webfont.svg#AsapBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapBoldItalic';
    src: font-url('asap/Asap-BoldItalic-webfont.eot');
    src: font-url('asap/Asap-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('asap/Asap-BoldItalic-webfont.woff') format('woff'),
         font-url('asap/Asap-BoldItalic-webfont.ttf') format('truetype'),
         font-url('asap/Asap-BoldItalic-webfont.svg#AsapBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Responsive';
    src: font-url('responsive/Responsive-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ResponsiveLight';
    src: font-url('responsive/Responsive-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ResponsiveBold';
    src: font-url('responsive/Responsive-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ResponsiveSemiBold';
    src: font-url('responsive/Responsive-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
