#wrapper{
	/*padding-top: 1em;*/
	/*margin-top: 64px;*/
	margin-top: -77px;
	position: relative;
}

#top{
	height: 130px;
	position: relative;
	top:0;
	background: none repeat scroll 0% 0% #5264AE;
}

.footer{
	padding-top: 2em;
	padding-bottom: 1em;
}