nav{
	/*height:40px;*/
	width: 100%;
	background: #fff;
	margin: 0;
	border-bottom: 2px solid #c0392b;
}

nav a, nav a:visited{color: #666;}
nav a:hover{color: #c0392b}
nav a, nav a:visited, nav a:hover{
	text-decoration: none;
	-webkit-transition:.2s linear all;
	-moz-transition:.2s linear all;
	-o-transition:.2s linear all;
	transition:.2s linear all;
}
nav il{
	font-size: 1.1em;
	padding-right: 1em;
}

nav ul il ul {
	margin-top: 0;
	padding: 0;
	position: relative;
	top: 20px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
nav ul il ul li { 
	background: #fff; 
	display: block; 
	color: #333;
	text-shadow: 0 -1px 0 #000;
}
nav ul il ul li:hover { background: #666; }
nav ul il:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}