<p>Sal's <%= @resource.email %>!</p>

<p>Tu viens de faire une demande de récupération de mot de passe pour resaSKZ. Clique sur le lien ci-dessous!</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tu n'es pas à l'origine de cette demande, il te suffit de l'ignorer.</p>
<p>À bientôt sur resaSKZ!</p>
