%div.top-info.pa1
	%h1 Paiements

%div.pa1.fiche.brdr-b
	%table.striped.alternate
		%thead
			%tr
				%th ID
				%th date
				%th Montant

		%tbody
			- @paiements.each do |p|
				%tr
					%td=link_to p.paiement_hash, paiement_path(p.id)
					%td=p.date
					%td=p.amount_euro