%div.top-info.pa1
	%h1 Nouveau paiement
%div.fiche.pa1.brdr-b
	%p Vous allez être redirigé vers gadz.org puis vers le site de la banque où vous pourrez effectuer le paiement en toute sécurité.

	%p Vous allez effectuer notre paiement numéro #{@etape}, d'un montant de  #{@montant} €.
%div.fiche.pa1.brdr-b
	=form_for @paiement do |f|
		=f.button :Payer, name: "commande_id",value: params[:commande_id], :class => "pure-button pure-button-success"
