%div.top-info.pa1
  %h1
    Produits 
    =@evenement

    =link_to " Créer un produit", new_product_path, :class => "pure-button pure-button-success  md-add-circle-outline right"
/ # =form_tag( product_commande_path, :method => :post) do
- @categories.each_with_index do |ca, i|
  -unless ca.nom.blank?
    %div.pa1.fiche.brdr-b
      %h2=ca.nom
      %table.striped.alternate
        %thead
          %tr
            %th Produit
            %th Quantité totale
            %th Quantité commandée [toutes commandes confondues]
            %th Prix (€)
            %th Date limite de réservation
            -if not @evenement
              %th Evenement
          %tbody
            - @products.each do |prd|
              -if prd.categorie_id==i+1
                %tr
                  %td=link_to prd.name, product_path(prd.id)
                  %td=prd.stock
                  %td=prd.commande_products.map{|cp| cp.nombre}.sum
                  %td=prd.price_euro
                  %td=prd.echeance
                  -if not @evenement
                    %td=prd.event.name
                  
/ #  =submit_tag 'Valider'

