%div.top-info.pa1
	%h1=@product.name
%div.fiche.pa1.brdr-b
	%p
		Evenement:
		=@evenement
	%p
		Categorie:
		=@product.categorie.nom
	%p
		Stock: 
		=@product.stock
	%p
		Prix:
		=@product.price_euro
	%p
		Date limite de résevation:
		=@product.echeance
	%p
		Description:
		=@product.description
	%p
		Max par personne:
		=@product.max_par_personne
	%p
		=link_to 'Editer', edit_product_path(@product), :class => "pure-button pure-button-primary"
		=link_to 'Supprimer', @procut, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "pure-button pure-button-error"