%div.top-info.pa1
	%h1 Activitées


%div.pa1.fiche.brdr-b
	%table.striped.alternate
		%thead
			%tr
				%th Nom
				%th Inscrits
				%th Importée

		%tbody
			- @activite.each do |a|
				%tr
					%td=link_to a.nom,activite_path(a.id)
					%td 
					%td 