
<% if user_signed_in? %>
<span><%= link_to current_user.email, user_path(current_user.id) %></span>

		<%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to 'Connexion', new_user_session_path %>
<% end %>
