
<% if user_signed_in? %>
<span><%= current_user.email %></span>

		<%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to 'Connexion', new_user_session_path %>
<% end %>
